.rst-other-versions {
    text-align: right;
}

.rst-other-versions > dl, .rst-other-versions dt, .rst-other-versions small {
    display: none;
}

.rst-other-versions > dl:first-child {
    display: block;
}

.rst-versions.shift-up .rst-other-versions {
    display: block;
}

.rst-versions .rst-other-versions {
    display: none;
}

div[data-md-component=announce] {
    background-color: rgba(255,145,0,.1);
  }
  div[data-md-component=announce]>div#announce-msg{
    color: var(--md-admonition-fg-color);
    font-size: .8rem;
    text-align: center;
    margin: 15px;
  }
  div[data-md-component=announce]>div#announce-msg>a{
    color: var(--md-typeset-a-color);
    text-decoration: underline;
  }
